@use "../../../pages/styles/tokens" as *;
.txt {
  padding-bottom: 63px;
  margin-bottom: 32px;

  &__content {
    display: flex;
    justify-content: space-between;
    .img {
      border-radius: 50%;
      min-width: 400px;
      height: 400px;
      border: 1px solid $color-border;
      margin-right: 20px;
      transition: 0.3s;
    }
    .txt {
      padding: 42px 0;
      border-bottom: none;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
